<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Administração do Sistema - Relatórios</title>

<!--/*/ <th:block th:include="fragments.html :: common-head"></th:block> /*/-->
<link th:href="@{/css/form.css}" rel="stylesheet" />
</head>

<body>
	<div th:replace="fragments.html :: menu"></div>
	<div th:insert="fragments.html :: admin-menu"></div>
	<h1>Relatórios</h1>
	
	<div th:replace="fragments.html :: footer"></div>	
</body>
</html>